





 body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
span {color:red;}







/*css for 2*/
*{

	font-size: 25px;
	font-family: tahoma;
}

div{
	font-size: 40px;
color: red;
}

p{color: blue }


div p {color: green;}

p::first-letter {color: red;}

h1::first-letter {color: magenta;}





#main {

	width: 400px
	height: 300px;

	border: 20px solid transparent;
	padding: 5px;
	

	
}

div { color: green 
}

img {

	float: left
}